.articleDetailPost {
    span {
        font-family: 'SF-Pro';
        margin-top:20px;
display: block;
        font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 120%;
/* or 26px */

text-align: center;

color: #000000;
    }
}