$mobile: 600px; // < mobile
$tablet: 1024px; // < tablet
$desktop: 1024px; // > desktop

@mixin d-center {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

@mixin d-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: flex-start;
}

@mixin d-end {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: flex-end;
}
