.page-item {
    cursor: pointer;
}
.page-link {
    color:#000000 !important;
}
.active>.page-link, .page-link.active {
    background-color: #f7d200 !important;
    border-color: #f7d200 !important;
}