.NavMenu {
  display: flex;

  @media screen and (max-width: 1000px) {
    .navbar-nav .nav-link {
      padding: 0.5rem 1rem !important;
    }
  }

  .navbar-light .navbar-toggler {
    border: none;
  }
}
