@use "../../Assets/Css/variable.scss" as device;
header,
.header {
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.16);

  @media screen and (max-width: device.$mobile) {
  }

  .navbar {
    height: 100%;
    position: relative;

    color: #000000;
    font-family: "New-York", sans-serif;
    font-size: 20px;

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.12em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0 !important;

    a {
      color: #000000 !important;
      padding: 30px 16px !important;
      border-bottom: 2px solid rgba(255, 255, 255, 0);
      &:hover {
        color: #000000;
        border-bottom: 2px solid #000000;
      }
    }
    @media screen and (max-width: device.$mobile) {
      .navbar-collapse {
        top: 50px;
        right: 0px;
        position: absolute;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: white;
      }
    }
  }

  &__right {
    display: flex;
    //    align-items: flex-end;
    //  justify-content: flex-end;
  }
  &__navmobile {
    display: flex;
  }

  &__left {
    display: flex;
    justify-content: center;
    align-items: center;

    justify-content: flex-start;
    @media screen and (max-width: device.$mobile) {
      justify-content: flex-start;
      padding: 0px !important;
    }
  }

  .img-logo {
    max-width: 395px;
    min-width: 100px;
    aspect-ratio: 395/37;
    width: 100%;
    margin: 20px 0px;
    @media (max-width: 768px) {
      max-width: 217px;
    }
  }
  ul.menu__desktop {
    list-style-type: none;
    margin: 0;
    display: flex;
    //flex-wrap: wrap;

    li {
      display: inline;
      padding: 30px 15px;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      letter-spacing: 0.12em;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      border-bottom: 2px solid rgba(255, 255, 255, 0);
      &:hover {
        color: #000000;
        border-bottom: 2px solid #000000;
        margin-bottom: 0px;
      }
    }
    a {
      color: #000000;
      font-family: "New-York", sans-serif;
      &:hover {
        //border:none !important;

        text-decoration: none;
      }
    }
  }
}
